{% extends "user/base.html" %}
{% block content %}
<form  action="{% url 'user:auth'%}" method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Войдите в профиль</h1>

    <div>
        {{ form.email }}
    </div>
    <div>
        {{ form.password }}
    </div>
    <div>
        {{ error }}
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    <p class="text-center text-uppercase text-muted pt-3">--- Или ---</p>
    <a href="{% url 'user:registration' %}" class="w-100 btn btn-lg btn-outline-primary">Зарегистрироваться</a>
</form>
 {% endblock %}

