
{% extends "user/base.html" %}
{% block content %}
    <form  action="{% url 'user:registration'%}" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Регистрация в системе</h1>

        <div>
            {{ form.email }}
        </div>
        <div>
            {{ form.password1 }}
        </div>
        <div>
            {{ form.password2 }}
        </div>
        <div>
            {{ error }}
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
        <p class="text-center text-uppercase text-muted pt-3">--- Или ---</p>
        <a href="{% url 'user:auth' %}" class="w-100 btn btn-lg btn-outline-primary">Войти</a>
    </form>
{% endblock %}

