{% extends "dashboard/base.html" %}

{% block title %}
    <title>Список акций</title>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div>
            <a href="{% url 'dashboard:create' %}" class="btn btn-primary">Добавить</a>
        </div>
    {% endif %}

    {% if share_list %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Тикер</th>
                <th scope="col">Название</th>
                <th scope="col">ISIN</th>
                <th scope="col">Текущая цена</th>
                {% if user.is_authenticated %}
                    <th scope="col">Управление</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>

            {% for share in share_list %}
                <tr>
                    <td><a href="{% url 'dashboard:detail' share.id %}"> {{share.ticker}} </a></td>
                    <td>{{share.name}}</td>
                    <td>{{share.isin}}</td>
                    {%  if  share.is_trend_high %}
                        <td style="background-color: mediumseagreen">
                            {%  else  %}
                        <td style="background-color: palevioletred">
                    {% endif %}
                    {{share.last_price}} {{ share.currency }}</td>
                    {% if user.is_authenticated %}
                        <td>
                            <a href="{% url 'dashboard:update' share.id %}" class="btn btn-secondary">
                                Редактировать
                            </a>
                            <a href="{% url 'dashboard:delete' share.id %}" class="btn btn-danger">
                                Удалить
                            </a>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}



            </tbody>
        </table>

        <div class="btn-group" role="group" aria-label="Item pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_obj.number == page_number %}
                    <button class="btn btn-outline-primary active">
                        <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                    </button>
                {% else %}
                    <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                        {{ page_number }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
            {% endif %}
        </div>


    {% else %}
        <p>Акций еще нет</p>
    {% endif %}


{% endblock %}